/* ==========================================================================
   global
========================================================================== */
$font-stack: RobotoDraft, Roboto, Arial, sans-serif;
$font-color: rgba(0,0,0,.87);
$font-color-2: rgba(0,0,0,.54);
$font-color-3: rgba(0,0,0,.26);
$color-dividers: rgba(0,0,0,.12);
$primary-color: rgb(2,136,209);
$primary-color-1: rgb(2,119,189);
$primary-color-2: rgb(179,229,252);
$accent-color: rgb(255,64,129);
$accent-color-1: rgb(244,143,177);
$accent-color-2: rgb(248,187,208);
$accent-green: rgb(14,156,87);
$accent-green-1: rgb(184,245,201);
$light-grey: #f0f0f0;
$large-padding: 24px;
$small-padding: 16px;

@mixin transition($speed: .2s, $ease: cubic-bezier(0.4, 0.0, 0.2, 1)) {
	-moz-transition: all $speed $ease;
	-ms-transition: all $speed $ease;
	-webkit-transition: all $speed $ease;
	transition: all $speed $ease;
}

html {
	font: 400 10px/1.846 $font-stack;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	text-rendering: optimizeLegibility;
}

body {
	height: 100%;
	@extend html;

	.cf {
	  *zoom: 1;

	  &:before {
		  content: " ";
		  display: table;
		}

		&:after {
			@extend .cf:before;
			clear: both;
		}
	}

	a {
		color: $primary-color;
		cursor: pointer;
		text-decoration: none;
	}

	img {
		max-width: 100%;
		vertical-align: middle;
	}

	h1 {
		line-height: 1.25;
		margin: 0;
	}

	h2,
	h3,
	h4 {
		@extend h1;
	}
}


/* ==========================================================================
   wrapper width and heights
========================================================================== */
.container {
	height: 100%;
}

.left-side {
	height: 100%;
  z-index: 100;

  md-sidenav {
		height: 100%;
  }
}

.right-side {
	height: 100%;
	width: 100%;

	&.lockNav	{
		width: calc(100% - 304px);
	}

	md-content {
		&[ng-view] {
			height: calc(100% - 64px);
			overflow: hidden;
			overflow-y: auto;
			padding: $large-padding;
		}
	}
}


/* ==========================================================================
   typography
========================================================================== */
.md-display-1 {
	color: $accent-color;
	font-size: 3.4rem;
	font-weight: 400;

	&.numeral {
		font-weight: 300;
		height: 40px;
	  line-height: 1;
	  min-width: 40px;
	  text-align: left;
	}

	a {
		color: inherit;
	}
}

.md-headline {
	font-size: 2.4rem;
	font-weight: 400;
}

.md-title {
	font-size: 2.0rem;
	font-weight: 500;
}

.md-subhead {
	font-size: 1.6rem;
	font-weight: 500;

	a {
		ng-md-icon {
			fill: $primary-color;
			margin-left: 4px;
		}
	}
}

.md-body-1 {
	font-size: 1.4rem;
	font-weight: 400;
}

.md-body-2 {
	font-size: 1.4rem;
	font-weight: 500;
}

.md-button {
	@extend .md-body-2;
	padding: 6px 16px;
  white-space: normal;

	&[md-no-ink] {
		color: $primary-color;
		padding: 0;
		text-align: left;

		&:hover,
		&:focus {
			background: none !important;
		}
	}

	ng-md-icon {
		fill: $primary-color;
		height: 24px;
		margin-left: 4px;
	  width: 32px;
	}
}

.md-caption {
	font-size: 1.2rem;
	font-weight: 400;
}


/* ==========================================================================
   toolbar
========================================================================== */
md-toolbar {
	.md-button {
		height: 64px;
		padding: 8px 24px;
	}

	.md-subhead {
		color: #fff;
		font-weight: 400;
		margin-left: 24px;
		@include transition;
	}
}


/* ==========================================================================
   navPanel
========================================================================== */
@import '_navPanel';


/* ==========================================================================
   general styling for main elements
========================================================================== */
.progress-circle {
	text-align: center;

	md-progress-circular {
		display: inline-block;
	}
}

article {
	border-top: 1px solid $color-dividers;

	&:first-child {
		border: none;
	}

	header {
		margin: 8px 0;
		max-width: 912px;

		.tags {
			flex-wrap: wrap;

			ng-md-icon {
				fill: $font-color-3;
			}

			md-list-item {
				background: $light-grey;
				color: $font-color-2;
				margin: 6px;
				padding: 0 6px;

				&:first-child {
					background: none;
					height: 24px;
					margin-left: 0;
					margin-right: 0;
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}

	section {
		margin: $large-padding + 8px 0;
		max-width: 912px;

		md-list {
			display: block;

			md-list-item {
				display: block;

				&:first-child {
					.block {
						margin-top: 0;
					}
				}
			}

			iframe {
				max-width: 640px;
				width: 100%;
			}
		}

		.block {
			margin-top: $small-padding;
			padding: 0 $large-padding 0 $small-padding;

			&.good {
				background: $accent-green-1;

				.md-subhead {
					border-bottom: 1px solid $accent-green;
					text-transform: uppercase
				}

				ng-md-icon {
					fill: $accent-green;	
				}
			}

			&.bad {
				background: $accent-color-2;

				.md-subhead {
					border-bottom: 1px solid $accent-color;
					text-transform: uppercase
				}

				ng-md-icon {
					fill: $accent-color;	
				}
			}

			span {
				display: inline-block;
				height: 24px;
				margin-right: $small-padding;
				min-width: 24px;

				ng-md-icon {
					display: inline-block;
					height: 24px;
					width: 24px;	
				}
			}
		}

		&.quick-start {
			md-list-item {
				background: rgba(255, 255, 255, .25);
				padding: $large-padding;
				margin-top: $large-padding;

				&:first-child {
					margin-top: 0;
				}
			}
		}
	}

	footer {
		margin: $large-padding 0 $large-padding * 2;

		.links {
			margin-bottom: 24px;

			md-list-item {
				display: block;

				a {
					word-break: break-all;
				}
			}
		}
	}

	.block-color {
		header {
			background: $font-color;
			color: #fff;
			padding: $large-padding;
		}

		&.primary-2 {
			background: $primary-color-2;

			header {
				background: $primary-color-1;
			}

			.numeral {
				color: $font-color;
			}
		}

		&.grey {
			background: $light-grey;

			header {
				background: $font-color;
			}

			.numeral {
				color: $font-color;
			}
		}

		main {
			padding: 0 $large-padding $large-padding;
		}
	}
}


/* ==========================================================================
   code
========================================================================== */
pre {
	background: $light-grey;
	color: $accent-color;
	font: 500 16px/1.6em 'Source Code Pro', monospace;
	padding: $large-padding;
	white-space: normal;
	word-break: break-all;
}


/* ==========================================================================
   media queries
========================================================================== */
@import '_mediaQueries';





