/* ==========================================================================
   global
========================================================================== */
$font-stack: RobotoDraft, Roboto, Arial, sans-serif;
$font-color: rgba(0,0,0,.87);
$font-color-2: rgba(0,0,0,.54);
$font-color-3: rgba(0,0,0,.26);
$color-dividers: rgba(0,0,0,.12);
$primary-color: rgb(2,136,209);
$primary-color-1: rgb(2,119,189);
$primary-color-2: rgb(179,229,252);
$accent-color: rgb(255,87,34);
$accent-color-1: rgb(255,171,145);
$accent-color-2:rgb(255,204,188);
$accent-green: rgb(14,156,87);
$accent-green-1: rgb(184,245,201);
$accent-pink: rgb(255,64,129);
$accent-pink-1: rgb(244,143,177);
$accent-pink-2: rgb(248,187,208);
$light-grey: #f0f0f0;
$large-padding: 24px;
$small-padding: 16px;

@mixin transition($speed: .2s, $ease: cubic-bezier(0.4, 0.0, 0.2, 1)) {
	-moz-transition: all $speed $ease;
	-ms-transition: all $speed $ease;
	-webkit-transition: all $speed $ease;
	transition: all $speed $ease;
}

html {
	font: 400 10px/1.846 $font-stack;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	text-rendering: optimizeLegibility;
}

body {
	height: 100%;
	@extend html;

	.cf {
	  *zoom: 1;

	  &:before {
		  content: " ";
		  display: table;
		}

		&:after {
			@extend .cf:before;
			clear: both;
		}
	}

	a {
		color: $primary-color;
		cursor: pointer;
		text-decoration: none;
	}

	img {
		max-width: 100%;
		vertical-align: middle;
	}

	h1 {
		line-height: 1.25;
		margin: 0;
	}

	h2,
	h3,
	h4 {
		@extend h1;
	}
}


/* ==========================================================================
   wrapper width and heights
========================================================================== */
.container {
	height: 100%;
  overflow-y: auto;
}

.right-side {
	height: 100%;
  z-index: 100;

  md-sidenav {
		height: 100%;
  }
}

.left-side {
	height: 100%;
	width: 100%;
}

md-content {
	&[ng-view] {
		height: calc(100% - 64px);
		overflow: hidden;
		overflow-y: auto;
		padding: $large-padding;
	}
}


/* ==========================================================================
   typography
========================================================================== */
.md-display-1 {
	color: $accent-color;
	font-size: 3.4rem;
	font-weight: 400;

	&.numeral {
		font-weight: 300;
		height: 40px;
	  line-height: 1;
	  min-width: 40px;
	  text-align: left;
	}

	a {
		color: inherit;
	}
}

.md-headline {
	font-size: 2.4rem;
	font-weight: 400;
}

.md-title {
	font-size: 2.0rem;
	font-weight: 500;
}

.md-subhead {
	font-size: 1.6rem;
	font-weight: 500;

	ng-md-icon {
		display: inline-block;
		height: 24px;
		margin-left: 4px;
		width: 24px;
	}

	a {
		ng-md-icon {
			fill: $primary-color;
		}
	}
}

.md-body-1 {
	font-size: 1.4rem;
	font-weight: 400;
}

.md-body-2 {
	font-size: 1.4rem;
	font-weight: 500;
}

.md-button {
	@extend .md-body-2;
	padding: 6px 16px;
  white-space: normal;

	&[md-no-ink] {
		color: $primary-color;
		padding: 0;
		text-align: left;

		&:hover,
		&:focus {
			background: none !important;
		}
	}

	ng-md-icon {
		fill: $primary-color;
		height: 24px;
		margin-left: 4px;
	  width: 32px;
	}
}

.md-caption {
	font-size: 1.2rem;
	font-weight: 400;
}


/* ==========================================================================
   top bar
========================================================================== */
.top-bar {
	background: $light-grey;
	border-bottom: 1px solid #fff;
	height: 64px;
	padding: 0 24px;

	.inner-content {
		height: 100%;
		margin: 0 auto;
		max-width: 960px;
		position: relative;

		a {
			margin: 0 8px;

			&:first-child {
				margin-left: 0;
			}
		}

		i {
			font-style: normal;
		}

		span {
			margin-left: 8px;
		}
	}

	.md-button {
		bottom: -28px;
		line-height: 56px;
		padding: 0;
		position: absolute;
		right: 24px;
	}

	.md-subhead {
		color: $font-color;
		font-weight: 400;
		margin-right: 120px;
		@include transition;
	}
}


/* ==========================================================================
   navPanel
========================================================================== */
@import '_navPanel';


/* ==========================================================================
   general styling for main elements
========================================================================== */
.progress-circle {
	text-align: center;

	md-progress-circular {
		display: inline-block;
	}
}

article {
	&:first-child {
		border: none;
	}

	header {
		margin: 8px auto;
		max-width: 960px;

		&.splash-header {
			background: $accent-color;
			padding: $large-padding * 2 $large-padding;

			h1 {
				color: #fff;
			}
		}

		.tags {
			flex-wrap: wrap;

			ng-md-icon {
				fill: $font-color-3;
			}

			md-list-item {
				background: $light-grey;
				color: $font-color-2;
				margin: 6px;
				padding: 0 6px;

				&:first-child {
					background: none;
					height: 24px;
					margin-left: 0;
					margin-right: 0;
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}

	md-tabs {
		&.md-default-theme {
			.md-header {
				background: $light-grey;

				md-tab {
					&.active {
						color: $accent-color;
					}
				}
			}
		}
	}

	section {
		margin: $large-padding + 8px auto;
		max-width: 960px;

		md-list {
			display: block;

			md-list-item {
				display: block;

				&:first-child {
					.block {
						margin-top: 0;
					}
				}
			}

			iframe {
				max-width: 640px;
				width: 100%;
			}
		}

		.block {
			margin-top: $small-padding;
			padding: 0 $large-padding 0 $small-padding;

			&.good {
				background: $accent-green-1;

				.md-subhead {
					border-bottom: 1px solid $accent-green;
					text-transform: uppercase
				}

				ng-md-icon {
					fill: $accent-green;	
				}
			}

			&.bad {
				background: $accent-pink-2;

				.md-subhead {
					border-bottom: 1px solid $accent-color;
					text-transform: uppercase
				}

				ng-md-icon {
					fill: $accent-pink;	
				}
			}

			span {
				display: inline-block;
				height: 24px;
				margin-right: $small-padding;
				min-width: 24px;

				ng-md-icon {
					display: inline-block;
					height: 24px;
					width: 24px;	
				}
			}
		}

		&.quick-start {
			md-list-item {
				background: rgba(255, 255, 255, .25);
				-moz-box-shadow: 1px 1px 3px rgba(0,0,0,.1);
				-ms-box-shadow: 1px 1px 3px rgba(0,0,0,.1);
				-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.1);
				box-shadow: 1px 1px 3px rgba(0,0,0,.1);
				padding: $large-padding;
				margin-top: $large-padding;

				&:first-child {
					margin-top: 0;
				}
			}
		}
	}

	footer {
		margin: $large-padding auto $large-padding * 2;
		max-width: 960px;

		.links {
			margin-bottom: 24px;

			md-list-item {
				display: block;

				a {
					word-break: break-all;
				}
			}
		}
	}

	.block-color {
		header {
			background: $font-color;
			color: #fff;
			padding: $large-padding;
		}

		&.primary-2 {
			background: $primary-color-2;

			header {
				background: $primary-color-1;
			}

			.numeral {
				color: $font-color;
			}
		}

		&.grey {
			background: $light-grey;

			header {
				background: $font-color;
			}

			.numeral {
				color: $font-color;
			}
		}

		&.accent {
			background: $accent-color-2;

			header {
				background: $accent-color;
			}

			.numeral {
				color: $font-color;
			}
		}

		main {
			padding: 0 $large-padding $large-padding;
		}
	}
}


/* ==========================================================================
   code
========================================================================== */
pre {
	background: $color-dividers;
	font: 500 16px/1.6em 'Source Code Pro', monospace;
	padding: $large-padding;
	white-space: normal;
	word-break: break-all;
}


/* ==========================================================================
   media queries
========================================================================== */
@import '_mediaQueries';





