.max-width {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	padding: 0 $large-space;
}

md-progress-circular {
	margin: $large-space auto;
}

header {
	h3 {
		padding: $small-space 0;
	}

	&.masthead {
		display: none;
		
		background: $accent-color;
		padding: $small-space 0;
		position: relative;
		overflow: hidden;

		h1 {
			color: #fff;
		}

		.shadow {
			background: #000;
			background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
			background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);		
		  height: 300px;
	    left: calc(50% + 30px);
	    opacity: .1;
		  position: absolute;
		  top: 25%;
		  -moz-transform: rotate(-45deg);
		  -ms-transform: rotate(-45deg);
		  -webkit-transform: rotate(-45deg);
		  transform: rotate(-45deg);
		  width: 150px;
		}

		a {
			background: #fff;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			display: block;
			height: 150px;
			margin: 0 auto;
			padding: $small-space;
			position: relative;
		  width: 150px;

		  img {
		  	margin-top: 4px;
		  }
		}
	}
}

md-tabs {
	md-tab {
	  border-bottom: 2px solid #fff;
		padding: 0;
	}

	section {
		margin: 0;
	}

	a {
		color: inherit;
		display: block;
		padding: 20px 24px;
	}
}

.search-bar {
	width: 100%;

	label {
		padding-left: 24px !important;
	}

	.md-input {
		@extend label;
	}

	ng-md-icon {
	  bottom: 32px;
	  fill: $color-dividers;
	  position: absolute;
	  left: 0;
	}
}

article {
	&[ng-view] {
		background: #fff;
		padding-bottom: $large-space * 3;
	}
}

ng-md-icon {
	svg {
		vertical-align: middle;
	}
}

section {
	margin: $large-space 0;

	&.breadcrumbs {
		background: $white-trans;
		margin: 0;
		padding-bottom: 8px;
		padding-top: 8px;

		i {
			font-style: normal;
			margin: 0 2px;
		}
	}

	.bg-white-trans {
		background: $white-trans;
	}
}

ul {
	&.no-style {
		list-style: none;
		margin: 1em 0;
		padding: 0;
	}
}