/* ==========================================================================
   global
========================================================================== */
$font-stack: RobotoDraft, Roboto, Arial, sans-serif;
$font-color: rgba(0,0,0,.87);
$font-color-2: rgba(0,0,0,.54);
$font-color-3: rgba(0,0,0,.26);
$color-dividers: rgba(0,0,0,.12);
$primary-color: rgb(255,87,34);
$primary-color-1: rgb(255,171,145);
$primary-color-2:rgb(255,204,188);
$accent-color: rgb(2,136,209);
$accent-color-1: rgb(2,119,189);
$accent-color-2: rgb(179,229,252);
$accent-green: rgb(184,245,201);
$accent-green-1: rgb(14,156,87);
$accent-pink: rgb(248,187,208);
$accent-pink-1: rgb(255,64,129);
$white-trans: rgba(255,255,255,.6);
$light-grey: #f0f0f0;
$large-space: 24px;
$small-space: 16px;

@mixin transition($speed: .2s, $ease: cubic-bezier(0.4, 0.0, 0.2, 1)) {
	-moz-transition: all $speed $ease;
	-ms-transition: all $speed $ease;
	-webkit-transition: all $speed $ease;
	transition: all $speed $ease;
}

html {
	background: $light-grey;
	font: 400 10px/1.846 $font-stack;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	height: 100%;
	@extend html;

	.cf {
	  *zoom: 1;

	  &:before {
		  content: " ";
		  display: table;
		}

		&:after {
			@extend .cf:before;
			clear: both;
		}
	}

	a {
		color: $accent-color;
		cursor: pointer;
		text-decoration: none;
	}

	img {
		max-width: 100%;
		vertical-align: middle;
	}

	h1 {
		line-height: 1.25;
		margin: 0;
	}

	h2,
	h3,
	h4 {
		@extend h1;
	}
}


/* ==========================================================================
   typography
========================================================================== */
.md-display-1 {
	color: $primary-color;
	font-size: 3.4rem;
	font-weight: 400;

	&.numeral {
		color: inherit;
		font-weight: 300;
		height: 40px;
	  line-height: 1;
	  margin-right: $small-space;
	  margin-top: 8px;
	  text-align: left;
	}

	a {
		color: inherit;
	}
}

.md-headline {
	font-size: 2.4rem;
	font-weight: 400;
}

.md-title {
	font-size: 2.0rem;
	font-weight: 500;
}

.md-subhead {
	font-size: 1.6rem;
	font-weight: 500;

	ng-md-icon {
		display: inline-block;
		height: 24px;
		margin-left: 4px;
		width: 24px;
	}

	a {
		ng-md-icon {
			fill: $accent-color;
		}
	}
}

.md-body-1 {
	font-size: 1.4rem;
	font-weight: 400;
}

.md-body-2 {
	font-size: 1.4rem;
	font-weight: 500;
}

.md-button {
	display: inline-block;
	@extend .md-body-2;
	padding: 6px 16px;
  white-space: normal;

	&[md-no-ink] {
		color: $accent-color !important;
		padding: 0;
		text-align: left;

		&:hover,
		&:focus {
			background: none !important;
		}
	}

	ng-md-icon {
		fill: $accent-color;
		height: 24px;
		margin-left: 4px;
	  width: 32px;
	}
}

.md-caption {
	font-size: 1.2rem;
	font-weight: 400;
}


/* ==========================================================================
   general layout
========================================================================== */
@import '_general_layout';


/* ==========================================================================
   splash view
========================================================================== */
@import '_splash';


/* ==========================================================================
   toolkit view
========================================================================== */
@import '_toolkit';


/* ==========================================================================
   media queries
========================================================================== */
@import '_media_queries';