/* ==========================================================================
   media query - tablet
========================================================================== */
@media only screen and (max-width: 960px) {
	.max-width {
		padding: 0 $small-space;
	}

	section {	
		main {
			&.bg-white-trans {
				max-height: none;

				.big-image {
					max-height: none;

					img {
						height: auto;
						max-width: 100%;
					  width: 100%;
					}
				}

				.copy {
					max-height: none;
					padding: $small-space;
				}
			}
		}
	}
}


/* ==========================================================================
   media query - mobile
========================================================================== */
@media only screen and (max-width: 600px) {
	.md-button {
		width: 100%;
	}

	.md-display-1 {
		&.numeral {
			display: none;
		}
	}

	section {
		main {
			md-card {
				&.toolkit-card {
					.title {
						border-bottom: 1px solid $color-dividers;
						width: 100%;
					}

					.snippet {
						border: none;
					}
				}
			}

			.categories {
				-moz-column-count: 1;
		    -moz-column-gap: 0;
		    -webkit-column-count: 1;
		    -webkit-column-gap: 0;
		    column-count: 1;
		    column-gap: 0;

				md-card {
					width: 100%;
				}
			}
		}

		&.block-color {
			header {
			  padding: $small-space;
			}

			main {
				padding: $small-space;
			}
		}

		&.quick-start {
			main {
				padding: 0 $small-space $small-space;

				> ul {
					> li {
						margin: $small-space 0;
						padding: $small-space;
					}
				}
			}
		}

		&.pro-tips {
			li {
				padding: $small-space;

				span {
				  margin-right: 0;
				}

				p {
				 text-align: center;
				}
			}
		}

		ul {
			&.tags {
				flex-wrap: wrap;

				li {
					&:first-child {
						display: none;
					}
				}
			}
		}
	}
}