section {	
	main {
		&.bg-white-trans {
			.big-image {
				max-height: 400px;
				overflow: hidden;
				width: 100%;

				img {
					height: 100%;
				  max-width: none;
				}
			}

			.copy {
				max-height: 400px;
				overflow: hidden;
				overflow-y: auto; 
				padding: $large-space;
			}
		}

		md-card {
			background: #fff;
			margin: $small-space 0;

			.redirect {
				color: inherit;

				i {
					font-style: normal;
					color: $accent-color;
				}
			}

			.icon {
			  max-width: 112px;
			  min-width: 112px;
				padding: $small-space;
				text-align: center;

				img {
				  max-height: 112px;
				  width: auto;
				}
			}

			.snippet {
				border-left: 1px solid $color-dividers;
				padding: $small-space;
			  width: calc(100% - 112px);

				h3 {
					margin-bottom: $small-space;
				}
			}

			&.toolkit-card {
				.title {
					color: $accent-color;
					padding: $small-space;

					ng-md-icon {
						fill: $accent-color;
					}
				}

				.snippet {
					max-height: 56px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					width: 100%;
				}
			}
		}

		.graph {
			background: #fff;
			padding: $small-space;
		}
	}
}