section {	
	main {
		&.bg-white-trans {
			.big-image {
				max-height: 400px;
				overflow: hidden;
				width: 100%;

				img {
					height: 100%;
				  max-width: none;
				}
			}

			.copy {
				max-height: 400px;
				overflow: hidden;
				overflow-y: auto; 
				padding: $large-space;
			}
		}

		.blurb {
			.logo {
				margin-right: $small-space;
				max-width: 150px;
				min-width: 150px;
			}
		}

		.graph {
			background: #fff;
			padding: $small-space;
		}

		.categories {
			-moz-column-count: 2;
	    -moz-column-gap: 0;
	    -webkit-column-count: 2;
	    -webkit-column-gap: 16px;
	    column-count: 2;
	    column-gap: 0;
	    width: 100%;

			md-card {
				background: #fff;
				display: inline-block;
				line-height: 0;
				margin: 8px 0;
				@include transition(.5s, $cubic);
				width: calc(100% - 5px);

				&.ng-hide {
					opacity: 0;
				  -moz-transform: translateY(100px);
				  -ms-transform: translateY(100px);
				  -webkit-transform: translateY(100px);
				  transform: translateY(100px);
				}

				.category-title {
					background: $accent-color;
					color: #fff;
					padding: $small-space;
				}

				.md-button {
					border-left: 1px solid $color-dividers;
					border-right: 1px solid $color-dividers;
					border-top: 1px solid $color-dividers;
					border-radius: 0;
					font-weight: 400;
					line-height: 1.5em;
					padding: $small-space;
				  text-align: left;
				  text-transform: none;
				  width: 100%;

				  &:nth-child(2) {
				  	border-top: none;
				  }

					.toolkit-title {
						color: $accent-color;
					}

					.toolkit-snippet {
						display: block;
						max-height: 25px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						width: 99%;
  
						pre,
						img,
						a,
						br {
							display: none;
						}

						p {
							margin: 0 !important;
						  overflow: hidden;
						  text-overflow: ellipsis;
						  white-space: nowrap;
						}
					}
				}
			}
		}
	}
}