/* ==========================================================================
   global
========================================================================== */
* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, body {
  height: auto; }

html, body {
  background: #fff;
  font: 400 10px/1.846 RobotoDraft, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body .cf {
  *zoom: 1; }
  body .cf:before, body .cf:after {
    content: " ";
    display: table; }
  body .cf:after {
    clear: both; }
body a {
  color: #0288d1;
  cursor: pointer;
  text-decoration: none; }
body img {
  max-width: 100%;
  vertical-align: middle; }
body h1, body h2,
body h3,
body h4 {
  line-height: 1.25;
  margin: 0; }

/* ==========================================================================
   typography
========================================================================== */
.md-display-1 {
  color: #ff5722;
  font-size: 3.4rem;
  font-weight: 400; }
  .md-display-1.numeral {
    color: inherit;
    font-weight: 300;
    height: 40px;
    line-height: 1;
    margin-right: 16px;
    margin-top: 8px;
    min-width: 40px;
    text-align: left; }
  .md-display-1 a {
    color: inherit; }
    .md-display-1 a ng-md-icon {
      fill: rgba(0, 0, 0, 0.87);
      margin-right: 8px;
      max-width: 32px;
      min-width: 32px; }

.md-headline {
  font-size: 2.4rem;
  font-weight: 400; }

.md-title {
  font-size: 2.0rem;
  font-weight: 500; }

.md-subhead {
  font-size: 1.6rem;
  font-weight: 500; }
  .md-subhead ng-md-icon {
    display: inline-block;
    height: 24px;
    margin-left: 4px;
    width: 24px; }
  .md-subhead a ng-md-icon {
    fill: #0288d1; }

.md-body-1 {
  font-size: 1.4rem;
  font-weight: 400; }

.md-body-2, .md-button {
  font-size: 1.4rem;
  font-weight: 500; }

.md-button {
  display: inline-block;
  padding: 6px 16px;
  white-space: normal; }
  .md-button[md-no-ink] {
    color: #0288d1 !important;
    padding: 0;
    text-align: left; }
    .md-button[md-no-ink]:hover, .md-button[md-no-ink]:focus {
      background: none !important; }
  .md-button ng-md-icon {
    fill: #0288d1;
    height: 24px;
    margin-left: 4px;
    width: 32px; }

.md-caption {
  font-size: 1.2rem;
  font-weight: 400; }

/* ==========================================================================
   general layout
========================================================================== */
.max-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding: 0 24px; }

md-progress-circular {
  margin: 24px auto; }

header h3 {
  padding: 16px 0; }
header.masthead {
  display: none;
  background: #0288d1;
  padding: 16px 0;
  position: relative;
  overflow: hidden; }
  header.masthead h1, header.masthead body h2, body header.masthead h2,
  header.masthead body h3,
  body header.masthead h3,
  header.masthead body h4,
  body header.masthead h4 {
    color: #fff; }
  header.masthead .shadow {
    background: #000;
    background: -moz-linear-gradient(top, black 0%, transparent 100%);
    background: -ms-linear-gradient(top, black 0%, transparent 100%);
    background: -webkit-linear-gradient(top, black 0%, transparent 100%);
    background: linear-gradient(to bottom, black 0%, transparent 100%);
    height: 300px;
    left: calc(50% + 30px);
    opacity: .1;
    position: absolute;
    top: 25%;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 150px; }
  header.masthead a {
    background: #fff;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    height: 150px;
    margin: 0 auto;
    padding: 16px;
    position: relative;
    width: 150px; }
    header.masthead a img {
      margin-top: 4px; }

md-tabs md-tab {
  border-bottom: 2px solid #fff;
  padding: 0; }
md-tabs section {
  margin: 0; }
md-tabs a {
  color: inherit;
  display: block;
  padding: 20px 24px; }

.search-bar {
  width: 100%; }
  .search-bar label, .search-bar .md-input {
    padding-left: 24px !important; }
  .search-bar ng-md-icon {
    bottom: 32px;
    fill: rgba(0, 0, 0, 0.12);
    position: absolute;
    left: 0; }

article[ng-view] {
  background: #fff;
  padding-bottom: 72px; }

ng-md-icon svg {
  vertical-align: middle; }

section {
  margin: 24px 0; }
  section.breadcrumbs {
    background: rgba(255, 255, 255, 0.3);
    margin: 0;
    padding-bottom: 8px;
    padding-top: 8px; }
    section.breadcrumbs i {
      font-style: normal;
      margin: 0 2px; }
  section .bg-white-trans {
    background: rgba(255, 255, 255, 0.3); }

ul.no-style {
  list-style: none;
  margin: 1em 0;
  padding: 0; }

/* ==========================================================================
   splash view
========================================================================== */
section main.bg-white-trans .big-image {
  max-height: 400px;
  overflow: hidden;
  width: 100%; }
  section main.bg-white-trans .big-image img {
    height: 100%;
    max-width: none; }
section main.bg-white-trans .copy {
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
  padding: 24px; }
section main .blurb .logo {
  margin-right: 16px;
  max-width: 150px;
  min-width: 150px; }
section main .graph {
  background: #fff;
  padding: 16px; }
section main .categories {
  -moz-column-count: 2;
  -moz-column-gap: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 16px;
  column-count: 2;
  column-gap: 0;
  width: 100%; }
  section main .categories md-card {
    background: #fff;
    display: inline-block;
    line-height: 0;
    margin: 8px 0;
    -moz-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    width: calc(100% - 5px); }
    section main .categories md-card.ng-hide {
      opacity: 0;
      -moz-transform: translateY(100px);
      -ms-transform: translateY(100px);
      -webkit-transform: translateY(100px);
      transform: translateY(100px); }
    section main .categories md-card .category-title {
      background: #0288d1;
      color: #fff;
      padding: 16px; }
    section main .categories md-card .md-button {
      border-left: 1px solid rgba(0, 0, 0, 0.12);
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 0;
      font-weight: 400;
      line-height: 1.5em;
      padding: 16px;
      text-align: left;
      text-transform: none;
      width: 100%; }
      section main .categories md-card .md-button:nth-child(2) {
        border-top: none; }
      section main .categories md-card .md-button .toolkit-title {
        color: #0288d1; }
      section main .categories md-card .md-button .toolkit-snippet {
        display: block;
        max-height: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 99%; }
        section main .categories md-card .md-button .toolkit-snippet pre,
        section main .categories md-card .md-button .toolkit-snippet img,
        section main .categories md-card .md-button .toolkit-snippet a,
        section main .categories md-card .md-button .toolkit-snippet br {
          display: none; }
        section main .categories md-card .md-button .toolkit-snippet p {
          margin: 0 !important;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }

/* ==========================================================================
   toolkit view
========================================================================== */
section ul.tags {
  flex-wrap: wrap; }
  section ul.tags ng-md-icon {
    fill: rgba(0, 0, 0, 0.12); }
  section ul.tags li {
    background: rgba(0, 0, 0, 0.12);
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.26);
    display: inline-block;
    margin-right: 4px;
    margin-top: 8px;
    padding: 0 6px; }
    section ul.tags li:first-child {
      background: none;
      max-width: 32px;
      margin-right: 8px;
      min-width: 32px; }
    section ul.tags li:last-child {
      margin-right: 0; }
section pre {
  background: #fafafa;
  color: rgba(0, 0, 0, 0.54);
  font: 500 13px/1.6em 'Source Code Pro', monospace;
  overflow: hidden;
  overflow-x: auto;
  padding: 16px; }
  section pre::-webkit-scrollbar {
    height: 4px; }
  section pre::-webkit-scrollbar-track {
    height: 4px; }
  section pre::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.26);
    border-radius: 0;
    height: 4px; }
section.block-color header {
  color: #fff;
  padding: 24px; }
  section.block-color header h3 {
    padding: 0; }
section.block-color pre {
  background: rgba(255, 255, 255, 0.3); }
section.block-color main {
  padding: 24px; }
section.block-color.primary {
  background: #ffccbc; }
  section.block-color.primary header {
    background: #ff5722; }
  section.block-color.primary pre::-webkit-scrollbar-thumb {
    background: #ff5722; }
section.block-color.accent {
  background: #b3e5fc; }
  section.block-color.accent header {
    background: #0288d1; }
  section.block-color.accent pre::-webkit-scrollbar-thumb {
    background: #0288d1; }
section.block-color ul {
  margin: 0; }
section.summary img {
  background: #fafafa;
  padding: 8px; }
section.demo img {
  background: rgba(255, 255, 255, 0.3);
  padding: 8px; }
section.quick-start main {
  padding: 0 24px 24px; }
  section.quick-start main > ul > li {
    background: rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin: 24px 0;
    padding: 24px; }
  section.quick-start main > ul ul {
    list-style: disc;
    margin: 1em 0;
    padding: 0 0 1em 1em; }
  section.quick-start main img {
    background: rgba(255, 255, 255, 0.3);
    padding: 8px; }
section.pro-tips li {
  margin: 16px 0;
  padding: 24px; }
  section.pro-tips li span {
    margin-right: 24px;
    min-width: 24px; }
  section.pro-tips li p {
    margin: 0; }
  section.pro-tips li.good {
    background: #b8f5c9; }
    section.pro-tips li.good ng-md-icon {
      fill: #0e9c57; }
  section.pro-tips li.bad {
    background: #f8bbd0; }
    section.pro-tips li.bad ng-md-icon {
      fill: #ff4081; }
section iframe {
  max-width: 100%; }

footer.links ul {
  margin: 16px 0; }
footer.links a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; }

/* ==========================================================================
   media queries
========================================================================== */
/* ==========================================================================
   media query - tablet
========================================================================== */
@media only screen and (max-width: 960px) {
  .max-width {
    padding: 0 16px; }

  section main.bg-white-trans {
    max-height: none; }
    section main.bg-white-trans .big-image {
      max-height: none; }
      section main.bg-white-trans .big-image img {
        height: auto;
        max-width: 100%;
        width: 100%; }
    section main.bg-white-trans .copy {
      max-height: none;
      padding: 16px; } }
/* ==========================================================================
   media query - mobile
========================================================================== */
@media only screen and (max-width: 600px) {
  .md-button {
    width: 100%; }

  .md-display-1.numeral {
    display: none; }

  section main md-card.toolkit-card .title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    width: 100%; }
  section main md-card.toolkit-card .snippet {
    border: none; }
  section main .blurb .logo {
    margin-bottom: 16px;
    margin-right: 0;
    max-width: 100px;
    min-width: 100px; }
  section main .categories {
    -moz-column-count: 1;
    -moz-column-gap: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 0;
    column-count: 1;
    column-gap: 0; }
    section main .categories md-card {
      width: 100%; }
  section.block-color header {
    padding: 16px; }
  section.block-color main {
    padding: 16px; }
  section.quick-start main {
    padding: 0 16px 16px; }
    section.quick-start main > ul > li {
      margin: 16px 0;
      padding: 16px; }
  section.pro-tips li {
    padding: 16px; }
    section.pro-tips li span {
      margin-right: 0; }
    section.pro-tips li p {
      text-align: center; }
  section ul.tags {
    flex-wrap: wrap; }
    section ul.tags li:first-child {
      display: none; } }

/*# sourceMappingURL=main_style.css.map */
