// tablet
@media only screen and (max-width: 1008px) {
	md-toolbar  {
		.md-subhead {
			margin: 0;
		}
	}

	article {
		> header {
			padding: $large-padding $large-padding 0;
		}
	}

	.splash-view {
		section {
	    .section {
	      &.bg-white {
	        max-height: none;
	        overflow: auto;

	        .image {
	        	height: auto;
	        	max-height: none;
	        }
	      }

	      .copy {
		    	max-height: none;
			  }
	    }
	  }
	}
}


// mobile
@media only screen and (max-width: 600px) {
	body {
		.max-width {
			padding-left: $small-padding; 
			padding-right: $small-padding; 
		}
	}

	pre {
		padding: $small-padding;
	}

	.md-display-1 {
		&.numeral {
			display: none;
		}
	}

	article {
		> header {
			padding: $small-padding $small-padding 0;
		}

		&.welcome {
			> header {
				padding: $small-padding * 2 $small-padding;
			}
		}

		.block-color {
			header {
				padding: $small-padding;
			}

			main {
				padding: 0 $small-padding $small-padding;
			}
		}

		section {
			.block {
				padding: $small-padding;
				text-align: center;
			}

			&.quick-start {
				md-list-item {
					padding: $small-padding;
					margin-top: $small-padding;
				}
			}
		}

		footer {
			padding: 0 $small-padding;
		}
	}

	.splash-view {
		section {
	    .section {
	      .copy {
		    	max-height: none;
			    padding: $small-padding;
			  }
	    }
	  }

	  .grid {
		  md-card {
	     .icon {
	     	display: none;
	     }
	    }
	  }
	}
}