md-sidenav {
	header {
		background: $primary-color;
	  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	  -ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		color: #fff;
		height: 64px;
		padding-left: 24px;
		position: relative;
	  z-index: 1;

	  a {
	  	color: #fff;
	  }
	}

	md-list {
		background: $light-grey !important;
		display: block;
		height: calc(100% - 64px);
		padding-top: 24px;

		md-list-item {
			a {
				color: $font-color;
				display: block;
				padding: 8px 24px;

				&.active {
					color: $accent-color;
				}
			}

			.expandable {
				@extend a;
			}
		}
	}
}