.splash-view {
  .grid {
    .grid-item {
      background: #fff;
      height: 100%;
      margin: 0;
      width: 100%;

      .redirect {
        height: 100%;
      }
    }

    .icon {
      padding: $small-padding;
      position: relative;
      text-align: center;

      img {
          max-height: 88px;
          width: auto;
      }

      &:after {
        background: $color-dividers;
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
      }
    }

    .snippet {
      color: $font-color;
      overflow: hidden;
      overflow-y: auto;
      padding: $small-padding;

      h3 {
        margin-bottom: $small-padding;
      }

      i {
        color: $primary-color;
        font-style: normal;
      }
    }
  }

  section {
    .section {
      margin: 32px auto;

      &:first-child {
        margin-top: 0;
      }

      &.bg-white {
        background: $trans-white;
        max-height: 400px;
        overflow: hidden;

        .image {
          max-height: 400px;
          overflow: hidden;
          width: 100%;

          img {
            max-width: none;
            width: 100%;
          }
        }
      }

      .copy {
        height: 100%;
        max-height: 400px;
        overflow: hidden;
        overflow-y: auto; 
        padding: $large-padding;

        .md-button {
          display: inline-block;
        }
      }

      ul {
        list-style-position: outside;
        margin: 1em 0 1em 1em;
        padding: 0 0 0 1em;

        &:first-child {
          margin-top: 0;
        }

        li {
          margin: 4px 0;
        }
      }
    }

    .graph {
      background: #fff;
      padding: $small-padding;
    }
  }
}