<md-progress-circular md-mode="indeterminate" class="md-accent"
                      ng-if="main.progress">
</md-progress-circular>

<section ng-if="!main.progress">
	<main>	
    <div class="blurb">
      <h1 class="md-display-1">
        Blurb headline
      </h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </p>
    </div>

    <form name="search" 
          layout-sm="column" layout-align-sm="start start"
          layout="row" layout-align="start center">

      <md-input-container class="md-accent search-bar">
        <label>Search category</label>
        <input name="search-categories" 
               ng-keydown="splash.cardsLength()" ng-keyup="splash.initMasonry()" 
               ng-model="searchCategory">

        <ng-md-icon icon="search" size="24"></ng-md-icon>
      </md-input-container>

      <md-input-container class="md-accent search-bar">
        <label>Search toolkit items</label>
        <input name="search-toolkit-items" ng-keyup="splash.initMasonry()" 
               ng-keydown="splash.cardsLength()" ng-keyup="splash.initMasonry()"
               ng-model="searchToolkit">

        <ng-md-icon icon="search" size="24"></ng-md-icon>
      </md-input-container>
    </form>

    <div class="categories">
      <md-card class="category-card" 
               ng-repeat="category in splash.toolkitItems.categories 
                          | orderBy: 'category' | filter: searchCategory">

        <h3 class="category-title md-title">
          {{ category.category | capitalize }}
        </h3>

        <md-button href="#/html5/toolkit/{{ item.title | lowercase | hyphenate }}"
           ng-repeat="item in splash.toolkitItems | filter: searchToolkit" 
           ng-if="item.category == category.category">

          <span class="toolkit-title md-subhead">
            {{ item.title }}
          </span>

          <span class="toolkit-snippet" 
                ng-bind-html="main.safeHtml(item.description)"></span>
        </md-button>
      </md-card>
    </div>
	</main>
</section>