<!-- <h5tk-item data="{{toolkit.content}}"></h5tk-item> -->

<article>
	<header>
		<h1 class="md-display-1">
			<a href="#/h5tk/{{ toolkit.content.title | hyphenate | lowercase }}">
				{{ toolkit.content.title }}
			</a>
		</h1>

		<md-list class="tags" 
						 layout-sm="column" layout-align-sm="start start"
						 layout="row" layout-align="start center">

			<md-list-item class="md-body-1" ng-repeat="tag in toolkit.content.tags">
				<ng-md-icon icon="label" size="24" ng-if="$first"></ng-md-icon>
				<span ng-if="!$first">{{ tag }}</span>
			</md-list-item>
		</md-list> <!-- tags -->
	</header> <!-- title -->

	<section class="summary">
		<header>
			<h3 class="md-headline">
				Summary
			</h3>
		</header>

		<main>
			<p class="md-body-1" ng-bind-html="toolkit.content.description"></p>
		</main>
	</section> <!-- description -->

	<section class="demo">
		<header>
			<h3 class="md-headline">
				Demo(s)
			</h3>
		</header>

		<main>
			<md-list>
				<md-list-item ng-repeat="demo in toolkit.content.demo">
					<h4 class="md-subhead" 
							layout-sm="column" layout-align-sm="start start"
							layout="row" layout-align="space-between center">

						<span>{{ demo.title }}</span>

						<md-button class="md-primary md-hue-1 md-raised">
							{{ demo.link.title }}
						</md-button>
					</h4>

					<p class="md-body-1" ng-bind-html="demo.description"></p>
				</md-list-item>
			</md-list>
		</main>
	</section> <!-- demos -->

	<section class="quick-start">
		<header>
			<h3 class="md-headline">
				Quick start
			</h3>
		</header>

		<main>
			<md-list>
				<md-list-item ng-repeat="quick in toolkit.content['quick-start']" 
											layout="row" layout-align:"start start">
					<h1 class="md-display-1 numeral">
						{{ $index + 1 }}
					</h1>

					<div>
						<p class="md-body-1" ng-bind-html="quick.description"></p>

						<p>
							<md-button href="{{ quick.link.url }}" 
												 target="_blank" 
												 class="md-primary"
												 md-no-ink>
								{{ quick.link.title }}
							</md-button>
						</p>
					</div>
				</md-list-item>
			</md-list>
		</main>
	</section> <!-- quick start -->

	<section class="pro-tips block-color accent-2">
		<header>
			<h3 class="md-headline">
				Pro tips
			</h3>
		</header>

		<main>
			<md-list>
				<md-list-item ng-repeat="tip in toolkit.content['pro-tips']"
											layout="row" layout-align:"start start">
					<h1 class="md-display-1 numeral">
						{{ $index + 1 }}
					</h1>

					<div>
						<p class="md-body-1" ng-bind-html="tip.description"></p>
						<p class="md-body-1">{{ tip.type }}</p>
					</div>
				</md-list-item>
			</md-list>
		</main>
	</section> <!-- pro tips -->

	<footer>
		<header>
			<h4 class="md-subhead">
				Helpful links
			</h4>
		</header>

		<main class="links md-body-1">
			<md-list ng-repeat="link in toolkit.content.links">
				<md-list-item>
					<md-button href="{{ link.url }}" target="_blank" md-no-ink>
						{{ link.title }}
					</md-button>
				</md-list-item>
			</md-list> <!-- links -->
		</main>
	</footer>
</article>