<style>
	.item {
		margin: 20px 0;
	}

	hr {
		background: #eee;
		border: none;
		height: 1px;
		margin: 20px 0;
	}

	h3 + p {
		margin-top: 0;
	}
</style>

<div ng-repeat="item in welcome.toolkitItems">
	<h2>{{item.title}}</h2>

	<p><strong>Description:</strong> <span ng-bind-html="item.description"></span></p>

	<div class="item">
		<h3>Demos</h3>
		<p ng-repeat="demo in item.demo">
			<strong>Title:</strong> {{demo.title}}<br />
			<strong>Description:</strong> {{demo.description}}<br />
			<strong>Link label:</strong> {{demo.link.title}}<br />
			<strong>Link url:</strong> {{demo.link.url}}
		</p>
	</div>

	<div class="item">
		<h3>Links</h3>
		<p ng-repeat="link in item.links">
			<strong>Label:</strong> {{link.title}}<br />
			<strong>Url:</strong> {{link.url}}
		</p>
	</div>

	<div class="item">
		<h3>Pro tips</h3>
		<p ng-repeat="tip in item['pro-tips']">
			<strong>Description:</strong> {{tip.description}}<br />
			<strong>Type:</strong> {{tip.type}}
		</p>
	</div>

	<div class="item">
		<h3>Quick start</h3>	
		<p ng-repeat="start in item['quick-start']">
			<strong>Description:</strong> {{start.description}}<br />
			<!-- <strong>Code snippet:</strong> {{start['code snippet']}}<br /> -->
			<strong>Link label:</strong> {{start.link.title}}<br />
			<strong>Link url:</strong> {{start.link.url}}
		</p>
	</div>

	<div class="item">
		<h3>Tags</h3>
		<div ng-repeat="tags in item.tags"><strong>{{$index + 1}}:</strong> {{tags}}</div>
	</div>

	<hr / ng-if="!$last">
</div>